
<div class="container">
	<div class="header">
		<h1>{{title}}</h1>
	</div>
	<div class="body">
		<table border="0" cellpadding="3">
			<tbody>
			<form id="calculator" method="get">
				<tr>
					<td width="75rem">Number 1</td>
					<td width="100rem">
						<input type="text" name="x" id="num1" form="calculator">
					</td>
					<td width="80rem">
						<label>
							<input type="radio" name="operator" id="add" value="+">Adddition
						</label>
					</td>
					<td width="80rem">
						<label>
							<input type="radio" name="operator" id="sub" value="-">Subtraction
						</label>
					</td>
				</tr>
				<tr>
					<td>Number 2</td>
					<td>
						<input type="text" name="y" id="num2" form="calculator">
					</td>
					<td>
						<label>
							<input type="radio" name="operator" id="mul" value="*">Multiplication
						</label>
					</td>
					<td>
						<label>
							<input type="radio" name="operator" id="div" value="/">Division
						</label>
					</td>
				</tr>
			</form>
			<tr>
				<td>Result</td>
				<td><input type="text" name="result" id="result" disabled></td>
				<td>
					<button id="btnCal" type="button">Calculate!</button>
				</td>
			</tr>
			<tr>
				<td>Error</td>
				<td colspan="3">
					<div style="color: red" id="msgError"></div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>