body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td>input {
    margin: 0;
    height: 100% !important;
    display: inline-block;
    width: 100%;
    border-radius: 0 !important;
}

td>div {
    word-break:break-all;
}